<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel = 'stylesheet' href = 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css'>
<script src = 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js'></script>
<link href = 'https://fonts.googleapis.com/icon?family=Material+Icons' rel = 'stylesheet'>

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,500" rel="stylesheet">

<link rel="stylesheet" href="https://use.typekit.net/rzr6kwp.css">

<script src="https://use.typekit.net/rzr6kwp.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<style>
    body {
        font-family: "Europa", "Lato", "Sans Serif"
    }

    .anim, .page {
        transition: 1s all ease; 

    }

    .pre-anim{
        margin-top: 50px;
        opacity: 0;

    }

    .post-anim{
        margin-top: 0;
        opacity: 1;
    }

    .pre-anim-left{
        margin-right: 100px;
        opacity: 0;

    }

    .post-anim-left{
        margin-right: 0;
        opacity: 1;
    }

    

    .box-button {
        font-size: 30px; 
        background: white;

        padding: 5 20 10 20;
        border-radius: 40px;
        border-style: solid;
        border-color: white;
        border-width: 2px;
    }

    input {
        height: 30px;
        line-height: 0.5;
    }

    .contact {
        border-style: solid;
        border-width:2px;
        border-radius:30px;
        border-color: rgba(0, 0, 0,0);

        background: #30Fd93;
        padding: 5 10 5 10;
        color:     #000;
    }

    .contact-small {
        padding: 2 15 2 15;
    }

    .contact:hover {
        background: #20ed83;
    }

    .selected {
        background: #eeeeee;
    }

    li {
        padding: 5 10 5 10;
    }

    .definition {
        padding: 15 20 15 20;

        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-style: solid; 
        border-left-style: none;
        border-color: rgba(150, 150, 255, 0.3);
    }

    .method {
        border-style: solid; 
        border-color: rgba(100, 150, 255, 0.9);
        background: rgba(100, 150, 255, 0.9);

        color: white;

        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; 
        padding: 15 20 15 20;
    }

    .endpoint:hover {
        cursor: pointer;
        background: #eeeeee;
    }
</style>

<html>
    <body style = 'width:100%; height:100%'>
        <ul style = 'position:fixed; left:0; top:0; padding-left: 50px; font-size: 18px;'>
            <li style = 'font-size: 25px'>Endpoints</li>

            <li style = 'margin-top: 10px' class = 'selected endpoint' id = 'cookie-ep'><span style = 'color: green'>POST </span>cookie</li>
            <li class = ' endpoint' id = 'grade-ep'><span style = 'color: green'>POST </span>grade</li>
            <li class = ' endpoint' id = 'class-ep'><span style = 'color: green'>POST </span>class</li>

        </ul>

        <div style = 'width: 100%; height: 100%; padding-left: 300px; padding-top: 25px; margin-bottom: 500px' id = 'content'>
        </div>

        <div id = 'cookie-content' style = 'display:none; width: 100%; height: 100%; padding-left: 300px; padding-top: 25px; margin-bottom: 100px'>
            <span style = 'font-size: 50px;'>/cookie</span>
            <br>
            <div style = 'width: 60%'>Receive a cookie to StudentVUE which will be used to authenticate future requests to the API. All other API endpoints require a cookie to be POSTed that allows them to access student info without having to reauthenticate on StudentVUE. This also prevents the need for sending your username and password multiple times. Once you receive a cookie from this endpoint, save it so you can send it to other endpoints.<br><br>You may need to call this endpoint multiple times, since the cookies do expire (something that we cannot fix, because that is on Synergy's side)</div>
            <br/>

            <div style = 'display:flex; flex-wrap:wrap'> <!--outer-->
            <div style = 'width: 50%;'>
                <div>
                    <div style = 'margin-bottom: 25px; margin-top: 25px; font-weight:700'>Endpoint Definition</div>
                    <span class = 'method'>POST</span><span style = 'margin-top: 25px' class = 'definition'><span style = 'font-family: Monospace'>https://grades.newportml.com/api/v1/cookie</span></span>
                </div>

                <div style = 'margin-top: 50px'>
                    <div style = 'font-weight: 700'>Request Parameters</div>
                    <pre><code>{
    "username" : "[YOUR_SVUE_USERNAME]",
    "password" : "[YOUR_SVUE_PASSWORD]",
    "API_KEY"  : "[YOUR_API_KEY]"
}
                    </code></pre>
                </div> 

                <div style = 'margin-top: 25px'>
                    <div style = 'font-weight: 700'>URL Parameters</div>
                    <pre><code>NO URL PARAMETERS
                    </code></pre>
                </div> 

                <div style = 'margin-top: 25px'>
                    <div style = 'font-weight: 700; margin-bottom: 15px'>Response Body</div>
                    <span class = 'contact contact-small' style = 'background: rgb(255, 150, 150) !important'>403 / TEXT</span>
                    <pre><code>{
    "error" : "INVALID_CREDENTIALS"                        
}</code></pre><br>
                    <span class = 'contact contact-small'>200 / TEXT</span>
                    <pre><code>{
    "BellevuePVUECookie" : "[COOKIE]",
    "ASP.NET_SessionId"  : "[COOKIE]"
}
                    </code></pre>
                </div> 
            </div>

            <div style = 'width: 40%; margin-top: 25px;'> 
                <span style = 'font-weight:700'>Test Endpoint</span>
                <div class="input-field col s6">
                    <input placeholder="username" id="cookie-uname" type="text" class="validate" style = 'width: 250px' onkeyup = "keyHandler()">
                </div> 
                <div class="input-field col s6">
                    <input placeholder="password" id="cookie-pword" type="password" class="validate" style = 'width: 250px' onkeyup = "keyHandler()">
                </div>
                <div class="input-field col s6">
                    <input placeholder="api key" id="cookie-apikey" type="password" class="validate" style = 'width: 250px' onkeyup = "keyHandler()">
                </div>

                <div id = 'cookie-submit' class = 'anim pre-anim-left' style = 'margin-top: 15px'>
                    <span onclick = "cookie_submit()" class= 'contact'>Test Endpoint</span>
                </div>

                <div style = 'margin-top: 50px'>
                    <pre><code id = 'cookie-output'></code><pre>
                </div>
            </div>
            </div> <!--outer-->

        </div>

        <div id = 'grade-content' style = 'display:none; width: 100%; height: 100%; padding-left: 300px; padding-top: 25px; margin-bottom: 100px'>
            <span style = 'font-size: 50px;'>/grade</span>
            <br>
            <div style = 'width: 60%'>Returns student grades, as well as surface-level class information. URL links for strings are also supplied optionally.</div>
            <br/>

            <div style = 'display:flex; flex-wrap:wrap'> <!--outer-->
            <div style = 'width: 50%;'>
                <div>
                    <div style = 'margin-bottom: 25px; margin-top: 25px; font-weight:700'>Endpoint Definition</div>
                    <span class = 'method'>POST</span><span style = 'margin-top: 25px' class = 'definition'><span style = 'font-family: Monospace'>https://grades.newportml.com/api/v1/grade</span></span>
                </div>

                <div style = 'margin-top: 50px'>
                    <div style = 'font-weight: 700'>Request Parameters</div>
                    <pre><code>{
    "cookies" : {
        "BellevuePVUECookie" : "[COOKIE]",
        "ASP.NET_SessionId"  : "[COOKIE]"
    },
    "API_KEY"  : "[YOUR_API_KEY]"
}
                    </code></pre>
                </div> 

                <div style = 'margin-top: 25px'>
                    <div style = 'font-weight: 700'>URL Parameters</div>
                    <pre><code>Optional: links=[TRUE_OR_FALSE]</code></pre>Certain strings in the return body of this endpoint have links (links to classes or emails). Setting <code>links</code> to <code>true</code> makes the return body also contain a mapping of strings to links. 
                </div> 

              
                <div style = 'margin-top: 25px'>
                    <div style = 'font-weight: 700; margin-bottom: 15px'>Response Body</div>
                    <span class = 'contact contact-small' style = 'background: rgb(255, 150, 150) !important'>403 / TEXT</span>
                    <pre><code>{
    "error" : "INVALID_CREDENTIALS"                        
}</code></pre><br>
                    <span class = 'contact contact-small' style = 'background: rgb(255, 150, 150) !important'>403 / TEXT</span>
                    <pre><code>{
    "error" : "EXPIRED_TOKEN"                        
}</code></pre><br>

                    <span class = 'contact contact-small'>200 / TEXT</span>
                    <pre><code>{
    "Course Title" : [
        "AP Calc AB (MAA703.1)",
        "Spanish 2 (SP_203.1)",
        .
        .
        .
        "Chemistry (CH_310.1)"
    ],
    "Period" : [
        "1",
        "2",
        .
        .
        .
        "6-8"
    ],
    "Resources" : [
        "",
        "",
        .
        .
        .
        ""
    ],
    "Room Name" : [
        "1290",
        "2029",
        .
        .
        .
        "2910"
    ],
    "S1 Final" : [
        "A (94.57)",
        "B (81.4)",
        .
        .
        .
        "C (78.3)",
    ]
    "Teacher" : [
        "George Washington",
        "Abraham Lincoln",
        .
        .
        .
        "John Adams"
    ],
    "links" : {
        "George Washington" : "mailto:'George Washington' &lt;WashingtonG@bsd405.org&gt...,
        "Spanish 2"         : "PXP_Gradebook.aspx?AGU=0&DGU=0&VDT=0..."
    }
}
                    </code></pre>
                </div> 
            </div>

            <div style = 'width: 40%; margin-top: 25px;'> 
                <span style = 'font-weight:700'>Test Endpoint</span>
                <div class="input-field col s6">
                    <input placeholder="username" id="cookie-uname" type="text" class="validate" style = 'width: 250px' onkeyup = "keyHandler()">
                </div> 
                <div class="input-field col s6">
                    <input placeholder="password" id="cookie-pword" type="password" class="validate" style = 'width: 250px' onkeyup = "keyHandler()">
                </div>
                <div class="input-field col s6">
                    <input placeholder="api key" id="cookie-apikey" type="password" class="validate" style = 'width: 250px' onkeyup = "keyHandler()">
                </div>

                <div id = 'cookie-submit' class = 'anim pre-anim-left' style = 'margin-top: 15px'>
                    <span onclick = "grade_submit()" class= 'contact'>Test Endpoint</span>
                </div>

                <div style = 'margin-top: 50px'>
                    <pre><code id = 'grade-output'></code><pre>
                </div>
            </div>
            </div> <!--outer-->

        </div>

        <div id = 'class-content' style = 'display:none; width: 100%; height: 100%; padding-left: 300px; padding-top: 25px; margin-bottom: 100px'>
            <span style = 'font-size: 50px;'>/class</span>
            <br>
            <div style = 'width: 60%'>Returns grades and assignments for a specific class. Requires the link to that class (which requires a previous call to the /grade endpoint with <code>links</code> set to <code>true</code>).</div>
            <br/>

            <div style = 'display:flex; flex-wrap:wrap'> <!--outer-->
            <div style = 'width: 50%;'>
                <div>
                    <div style = 'margin-bottom: 25px; margin-top: 25px; font-weight:700'>Endpoint Definition</div>
                    <span class = 'method'>POST</span><span style = 'margin-top: 25px' class = 'definition'><span style = 'font-family: Monospace'>https://grades.newportml.com/api/v1/class</span></span>
                </div>

                <div style = 'margin-top: 50px'>
                    <div style = 'font-weight: 700'>Request Parameters</div>
                    <pre><code>{
    "cookies" : {
        "BellevuePVUECookie" : "[COOKIE]",
        "ASP.NET_SessionId"  : "[COOKIE]"
    },
    "link" : "[CLASS_LINK]",
    "API_KEY"  : "[YOUR_API_KEY]"
}
                    </code></pre>
                </div> 

                <div style = 'margin-top: 25px'>
                    <div style = 'font-weight: 700'>URL Parameters</div>
                    <pre><code>NO URL PARAMETERS</code></pre>
                </div> 

              
                <div style = 'margin-top: 25px'>
                    <div style = 'font-weight: 700; margin-bottom: 15px'>Response Body</div>
                    <span class = 'contact contact-small' style = 'background: rgb(255, 150, 150) !important'>403 / TEXT</span>
                    <pre><code>{
    "error" : "INVALID_CREDENTIALS"                        
}</code></pre><br>
                    <span class = 'contact contact-small' style = 'background: rgb(255, 150, 150) !important'>403 / TEXT</span>
                    <pre><code>{
    "error" : "EXPIRED_TOKEN"                        
}</code></pre><br>

                    <span class = 'contact contact-small'>200 / TEXT</span>
                    <pre><code>{
    "assignments" : {
        "Assignment" : [
            "QUIZ: Example Quiz 1",
            "QUIZ: Example Quiz 2",
            .
            .
            .
            "HOMEWORK: Assignment 1"
        ],
        "Notes" : [
            "",
            "",
            .
            .
            .
            ""
        ],
        "Score" : [
            "15 out of 15",
            "10 out of 10",
            .
            .
            .
            "12 out of 12"
        ],
        "Assignment Type" : [
            "Test/Exams",
            "Test/Exams",
            .
            .
            .
            "Homework"
        ]
        .
        .
        .
    },
    "summary" : {
        "Points Possible" : [
            "300.00",
            "100.00",
            .
            .
            .
            "500.0.0"
        ],
        "Average" : [
            "19.09%",
            "40.2%",
            .
            .
            .
            "95.3%"
        ],
        .
        .
        .
    },
    "categories" : true,
    "metadata" : {
        "classname" : "Spanish 3 (SP_601.1)",
        "grade" : "95.3",
        "period" : "4",
        "teacher" : "George Washington"
    }
}
                    
                    </code></pre>
                </div> 
            </div>

            <div style = 'width: 40%; margin-top: 25px;'> 
                <span style = 'font-weight:700'>Test Endpoint</span>
                <div class="input-field col s6">
                    <input placeholder="username" id="cookie-uname" type="text" class="validate" style = 'width: 250px' onkeyup = "keyHandler()">
                </div> 
                <div class="input-field col s6">
                    <input placeholder="password" id="cookie-pword" type="password" class="validate" style = 'width: 250px' onkeyup = "keyHandler()">
                </div>
                <div class="input-field col s6">
                    <input placeholder="api key" id="cookie-apikey" type="password" class="validate" style = 'width: 250px' onkeyup = "keyHandler()">
                </div>

                <div id = 'cookie-submit' class = 'anim pre-anim-left' style = 'margin-top: 15px'>
                    <span onclick = "class_submit()" class= 'contact'>Test Endpoint</span>
                </div>

                <div style = 'margin-top: 50px'>
                    <pre><code id = 'class-output'></code><pre>
                </div>
            </div>
            </div> <!--outer-->

        </div>
    </body>
</html>

<script>
var cookie_response;
var grade_response;
var class_response; 

var cookie_request = new XMLHttpRequest();
cookie_request.onreadystatechange = function () {
if (cookie_request.readyState === 4){
    var json_response = JSON.parse(cookie_request.response);
    cookie_response = json_response;

    $('#cookie-output').html(JSON.stringify(cookie_response, null, 4));
    }
}

var grade_request = new XMLHttpRequest();
grade_request.onreadystatechange = function () {
if (grade_request.readyState === 4){
    var json_response = JSON.parse(grade_request.response);
    grade_response = json_response;

    $('#grade-output').html(JSON.stringify(grade_response, null, 4));

    }
}

var class_request = new XMLHttpRequest();
class_request.onreadystatechange = function () {
if (class_request.readyState === 4){
    var json_response = JSON.parse(class_request.response);
    class_response = json_response;

    $('#class-output').html(JSON.stringify(class_response, null, 4));

    }   
}

</script>

<script>
    $(document).ready(function(){
        $('#content').html($("#cookie-content").html());
    });

    $('#cookie-ep').click(function(){
        var selected = $('.selected');
        selected.removeClass("selected");

        $('#content').html($("#cookie-content").html());
        $('#cookie-ep').addClass("selected");
    });

    $('#grade-ep').click(function(){
        var selected = $('.selected');
        selected.removeClass("selected");

        $('#content').html($("#grade-content").html());
        $('#grade-ep').addClass("selected");
    });

    $('#class-ep').click(function(){
        var selected = $('.selected');
        selected.removeClass("selected");

        $('#content').html($("#class-content").html());
        $('#class-ep').addClass("selected");
    });

    function cookie_submit(){
        var username = $('#cookie-uname').val();
        var password = $('#cookie-pword').val();
        var apikey = $('#cookie-apikey').val();

        cookie_request.open("POST", "https://grades.newportml.com/api/v1/cookie")
        cookie_request.send(JSON.stringify({"username" : username, "password" : password, "API_KEY" : apikey}));
    }

    function grade_submit(){
        var username = $('#cookie-uname').val();
        var password = $('#cookie-pword').val();
        var apikey = $('#cookie-apikey').val();

        cookie_request.open("POST", "https://grades.newportml.com/api/v1/cookie")
        cookie_request.send(JSON.stringify({"username" : username, "password" : password, "API_KEY" : apikey}));

        setTimeout(
            function(){
                grade_request.open("POST", "https://grades.newportml.com/api/v1/grade")
                console.log(cookie_response)
                grade_request.send(JSON.stringify({"cookies" : cookie_response, "API_KEY" : apikey}));
            }, 4000);
    }

    function class_submit(){
        var username = $('#cookie-uname').val();
        var password = $('#cookie-pword').val();
        var apikey = $('#cookie-apikey').val();

        cookie_request.open("POST", "https://grades.newportml.com/api/v1/cookie")
        cookie_request.send(JSON.stringify({"username" : username, "password" : password, "API_KEY" : apikey}));

        setTimeout(
            function(){
                grade_request.open("POST", "https://grades.newportml.com/api/v1/grade")
                grade_request.send(JSON.stringify({"cookies" : cookie_response, "API_KEY" : apikey}));
            }, 4000);
        
        setTimeout(
            function(){
                class_request.open("POST", "https://grades.newportml.com/api/v1/class")

                var class1 = grade_response["Course Title"][0];
                var link = grade_response['links'][class1];
                console.log(link);
                console.log(grade_response);
                class_request.send(JSON.stringify({"cookies" : cookie_response, "link" : link, "API_KEY" : apikey}));
            }, 8000);
    }

    function keyHandler(){
        var ids = ['cookie-uname', 'cookie-pword', 'cookie-apikey'];

        var allFilled = true;

        for (var i = 0; i < ids.length; i++){
            if ($('#' + ids[i]).val() == ""){
                allFilled = false; 
                break;
            }
        }

        if (allFilled){
            $('#cookie-submit').removeClass('pre-anim-left').addClass("post-anim-left");
        }else{
            $('#cookie-submit').removeClass('post-anim-left').addClass("pre-anim-left");

        }
    }


</script>