
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=595537f5-35d6-43f4-abf2-eb83414a47ac");
    @font-face{
        font-family:"Avenir Next W01 Light";
        src:url("../fonts/avenir/0ecef829-586e-426d-a633-4c8a8c926769.eot?#iefix");
        src:url("../fonts/avenir/0ecef829-586e-426d-a633-4c8a8c926769.eot?#iefix") format("eot"),url("Fonts/49c5f3e1-5867-4b1d-a843-2d07fa60d85d.woff2") format("woff2"),url("../fonts/avenir/f401df6f-54eb-406c-b46a-90b9451c598d.woff") format("woff"),url("Fonts/276fe25e-e430-4376-b33c-705dd77b3dba.ttf") format("truetype"),url("../fonts/avenir/869dc33b-3685-4d74-a51c-82b435579093.svg#869dc33b-3685-4d74-a51c-82b435579093") format("svg");
    }
    @font-face{
        font-family:"AvenirNextLTW01-Regular";
        src:url("../fonts/avenir/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
        src:url("../fonts/avenir/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"),url("Fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"),url("../fonts/avenir/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"),url("Fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"),url("../fonts/avenir/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg");
    }
    @font-face{
        font-family:"AvenirNextLTW01-Medium";
        src:url("../fonts/avenir/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix");
        src:url("../fonts/avenir/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix") format("eot"),url("Fonts/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2") format("woff2"),url("../fonts/avenir/f26faddb-86cc-4477-a253-1e1287684336.woff") format("woff"),url("Fonts/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf") format("truetype"),url("../fonts/avenir/a89d6ad1-a04f-4a8f-b140-e55478dbea80.svg#a89d6ad1-a04f-4a8f-b140-e55478dbea80") format("svg");
    }
    @font-face{
        font-family:"Avenir Next LT W01 Bold";
        src:url("../fonts/avenir/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix");
        src:url("../fonts/avenir/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix") format("eot"),url("Fonts/14c73713-e4df-4dba-933b-057feeac8dd1.woff2") format("woff2"),url("../fonts/avenir/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff"),url("Fonts/890bd988-5306-43ff-bd4b-922bc5ebdeb4.ttf") format("truetype"),url("../fonts/avenir/ed104d8c-7f39-4e8b-90a9-4076be06b857.svg#ed104d8c-7f39-4e8b-90a9-4076be06b857") format("svg");
    }
